# YouTube API
google-api-python-client==2.118.0

# Sentiment analysis
vaderSentiment==3.3.1

# Data & DB
pandas==2.2.2
sqlalchemy==2.0.30
python-dotenv==1.0.1

# Dashboard
streamlit==1.35.0
plotly==5.22.0

# Offline charts & README visuals
matplotlib==3.9.0
